%h1= @company.name

- if @company.projects.any?
	%table
		%tbody
			%tr
				%th Project
				%th Company
			= render partial: "projects/project", collection: @company.projects
- else
	%h2 No projects
			
- content_for :aside do
	= render 'sidebar'